body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: visible;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mid-container{
  /* background-color: aqua; */
  position:relative;
  width: 400px;
  height: 400px;
  /* display: inline-block; */
  margin: auto;
  text-align: center;
  /* opacity: 0; */
  margin-top: 10%;

}

.overlay{
  opacity:0.9;
  background-image: url("assets/65522f70993b9fa812f04aca608e483d.jpg");
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  overflow: auto;
  /* text-align: center; */
}

.password{
  -webkit-text-security: disc; 
}

.button-style{
  margin-top: 10px;
  margin: 20px;
  width:  220px;
  height: 40px
}

.form-pop{
  width: 500px;
  height: 500px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.border {
  border-style: dotted;
  margin: 5em;
  border-width: 1em;
  border-radius: 10%;
  background-color: black;
}


.upload {
  text-align: center;
  border-color: black;
  border-width: 3px;
  border-style: solid;

}

.flex {
  margin: 1em;
  margin-right: 1em;
  margin-bottom:  0em;
  display: flex;

}

